{% extends "navigation.html" %}
{% block container %}
<br>
<form action="/change_password_forgotten/{{ register_uuid }}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label>{{ forget_password_form.new_password.label }}</label>
      {{ forget_password_form.new_password }}
      <ul>
        {% for error in forget_password_form.new_password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="form-group">
      <label>{{ forget_password_form.check_password.label }}</label>
      {{ forget_password_form.check_password }}
      {{ forget_password_form.check_password.errors }}
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">パスワードを変更</button>
</form>
{% endblock %}
